.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.3rem;
  transition: transform 0.2s ease;
   
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.navbar-toggler-icon{
  color:var(--text-color)
  
}