:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #d08700;
  --accent-hover: #b96f00;
  --card-bg: #f7f7f7;
  --border-color: #e0e0e0;
}


.dark-theme {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --accent-color: #d08700;
  --accent-hover: #ffac1f;
  --card-bg: #1e1e1e;
  --border-color: #2a2a2a;
}
